ion-grid{
 height: 100vh;
 width: 100vw;
 ion-text{
   margin-bottom: -10%;
 }
 ion-button{
   text-align: center;
   width: 60%;
 }
 ion-label{
   margin-top: 5%;
 }
 ion-row{
  display: grid;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  align-content: center;
 }
}

.logo{
  margin-bottom: 10%;
}
#btn-inferior{
  margin-bottom: 10%;
}
.redes{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
