<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/perfil"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: Montserrat; font-size: 20px; color: #fff;font-weight: 800;">cleaned</ion-title>
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="foto">
    <ion-avatar>
      <img src="../../../../assets/images/cambio.png" class="imagen" />
    </ion-avatar>
  </div>
  <div class="datos">
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-input type="text" placeholder="Nombre" [(ngModel)]="nombre"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call-outline"></ion-icon>
        <ion-input type="text" placeholder="Telefono" [(ngModel)]="telefono"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-input
          type="email"
          ngModel
          name="email"
          required
          email
          #emailCtrl="ngModel"
          placeholder="Correo Electrónico"
          [(ngModel)]="email"
        ></ion-input>
      </ion-item>
      <ion-button type="button" color="primary"> Siguiente </ion-button>
    </ion-list>
  </div>
</ion-content>
