<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: Montserrat; font-size: 20px; color: #fff;font-weight: 800;">cleaned</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="content">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size-sm="12" offset-sm="0">
          <ion-avatar class="ion-text-center">
            <img src="../../../../../assets/images/agregar.png" />
          </ion-avatar>
          <ion-list>
            <ion-item>
              <ion-input type="text" required placeholder="Nombre y Apellido"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" required placeholder="Fecha de nacimiento"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" required placeholder="Telefono"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" required placeholder="Direccion"></ion-input>
            </ion-item>
            <ion-item size="8" offset="2">
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
                required
                placeholder="Correo Electronico"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label> Ingrese una direccion de email valida </ion-label>
            </ion-item>
            <ion-item>
              <ion-input
                [type]="showPassword ? 'text' : 'password' "
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
                placeholder="Contraseña"
              ></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input
                [type]="showPassword ? 'text' : 'password' "
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
                placeholder="Confirmar Contraseña"
              ></ion-input>
              <ion-icon slot="end" [name]="passwordToggleIcon" (click)="togglePassword()"></ion-icon>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label> Minimo 6 caracteres </ion-label>
            </ion-item>
            <ion-item>
              <ion-input type="number" required placeholder="Valor Hora"></ion-input>
            </ion-item>
            <ion-button
              type="button"
              color="primary"
              style="
                width: 75%;
                text-align: center;
                display: block;
                margin-bottom: 25px;
                margin-top: 20px;
              "
              (click)="goToConfirmPage()"
            >
              Siguiente
            </ion-button>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
