ion-header {
  background-color: #fff;

  ion-toolbar {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
}

ion-avatar{
  margin: auto;
}

ion-button{
  width: 50%;
  text-align:center;
  display: block;
  margin: auto;
  margin-bottom: 25px;
  margin-top: 20px;
}
