<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>cleaned</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="foto">
    <ion-avatar>
      <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y" id="imagen">
    </ion-avatar>
    <p style="text-align: center; color:white;">5.0</p>
    <div class="ec-stars-wrapper">
      <a href="#" data-value="1" title="Votar con 1 estrellas">&#9733;</a>
      <a href="#" data-value="2" title="Votar con 2 estrellas">&#9733;</a>
      <a href="#" data-value="3" title="Votar con 3 estrellas">&#9733;</a>
      <a href="#" data-value="4" title="Votar con 4 estrellas">&#9733;</a>
      <a href="#" data-value="5" title="Votar con 5 estrellas">&#9733;</a>
    </div>
  </div>
  <div class="datos">
    <ion-list>
      <ion-item lines="none">
        <ion-icon name="person-circle-outline"></ion-icon>
        <ion-label>{{nombre}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="call-outline"></ion-icon>
        <ion-label>{{telefono}}</ion-label>
      </ion-item>
      <ion-item lines="none">
        <ion-icon name="mail-outline"></ion-icon>
        <ion-label>{{email}}</ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
