<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title style="font-family: Montserrat; font-size: 20px; color: #fff;font-weight: 800;">cleaned</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form class="content">
    <ion-grid class="ion-text-center">
      <ion-row>
        <ion-col size-sm="12" offset-sm="0">
          <ion-avatar class="ion-text-center">
            <img src="../../../../../assets/images/agregar.png" />
          </ion-avatar>
          <ion-list>
            <ion-item>
              <ion-input type="text" placeholder="Nombre"></ion-input>
            </ion-item>
            <ion-item>
              <ion-input type="text" placeholder="Telefono"></ion-input>
            </ion-item>
            <ion-item size="8" offset="2">
              <ion-input
                type="email"
                ngModel
                name="email"
                required
                email
                #emailCtrl="ngModel"
                placeholder="Correo Electrónico"
              ></ion-input>
            </ion-item>
            <ion-item *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
              <ion-label> Should be a valid email address. </ion-label>
            </ion-item>
            <ion-item>
              <ion-input
                [type]="showPassword ? 'text' : 'password' "
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
                placeholder="Contraseña"
              ></ion-input>
              <ion-icon
                slot="end"
                [name]="passwordToggleIcon"
                (click)="togglePassword()"
              ></ion-icon>
            </ion-item>
            <ion-item>
              <ion-input
                [type]="showPassword ? 'text' : 'password' "
                ngModel
                name="password"
                required
                minlength="6"
                #passwordCtrl="ngModel"
                placeholder="Confirmar Contraseña"
              ></ion-input>
              <ion-icon
                slot="end"
                [name]="passwordToggleIcon"
                (click)="togglePassword()"
              ></ion-icon>
            </ion-item>
            <ion-item *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
              <ion-label>Minimo 6 caracteres</ion-label>
            </ion-item>
            <ion-button type="button" color="primary"> Siguiente </ion-button>
          </ion-list>
          <ion-text>¿Ya tienes cuenta? </ion-text
          ><ion-label color="primary" (click)="goToLogin()">Iniciar Sesion</ion-label>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
</ion-content>
