ion-menu::part(container) {
  border-radius: 90px 0 0 90px;
  }


ion-menu{
  ion-header{
    border-top-left-radius: 30%;
    height: 30vh;
    display: flex;
    ion-avatar{
      width: 100px;
      height: 100px;
    }
  }
  ion-content{
    border-bottom-left-radius: 30%;
    height: calc(100vh - 30vh);
    display: flex;
    justify-content: center;
  }
}
