ion-grid {
  height: 100vh;
  ion-row {
    display: grid;
    justify-content: baseline;
    min-height: 100vh;
    ion-col {
      display: flex;
      justify-content: baseline;
      // .buttons {
      //   display: flex;
      //   justify-content: center;
      // }
      ion-img {
        width: 100%;
      }
      ion-text {
        display: flex;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 20px;
        text-align: center;
      }
      ion-img {
        align-self: center;
        height: 125px;
        width: 125px;
      }
    }
  }
}

