<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/inicio"></ion-back-button>
    </ion-buttons>
    <ion-title
      class="ion-text-center"
      style="font-family: Montserrat; font-size: 20px; font-weight: 800"
      >cleaned</ion-title
    >
    <ion-buttons slot="primary">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid>
    <ion-row>
      <ion-col class="image">
        <ion-img src="../../../../../../assets/images/visita-no-realizada.png"></ion-img>
      </ion-col>
      <ion-col>
        <ion-text style="color: #fff">¡Wow!</ion-text>
      </ion-col>
      <ion-col >
        <hr style="height:2px;width: 100px;" color="#fff" class="line"/>
      </ion-col>
      <ion-col size="10" offset="1">
        <ion-text style="color: #fff">Escalaremos tu caso, espera nuestra pronta respuesta</ion-text>
      </ion-col>
      <ion-col class="buttons">
        <ion-button color="light" fill="outline" style="width: 35%; margin-right: 7.5%"
          >Salir</ion-button
        >
        <ion-button color="light" fill="outline" style="width: 35%">Siguiente</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
